<div class="search-recent__list-item">
    <a href="{{ item.link }}">
        <div class="search-recent__list-item__thumbnail">
            <img src="{{ item.image }}" alt="{{ item.imageAlt }}"/>
        </div>
        <div class="search-recent__list-item__text">
            <p style="color: {{ item.color }};">{{ item.navTitle }}</p>
            <p>{{ item.pageTitle }}</p>
        </div>
    </a>
</div>