{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
    set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

{% set minipager = false %}
{% set class = '' %}
{% set filter_text = 'Filter by'|t %}
{% if pager['#theme'] is iterable %}
    {% if 'views_mini_pager' in pager['#theme'] %}
        {% set class = 'mini-pager-wrap' %}
        {% set minipager = true %}
    {% endif %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    {% if header %}
        <header>
            {{ header }}
        </header>
    {% endif %}

    {# We do not use the top minipager. Only the bottom minipager below the content. #}
    <div class="wrapper row">
      <div class="span-3-d">
        {% if minipager == false %}
            <div class="filter-bar--pager-fix max-width--xlarge-desktop multiselect-filter">
                {# NOTE: pager must immediately follow exposed form #}
                <h5>{{ filter_text }}</h5>
                {{ exposed }}
            </div>
        {% endif %}
      </div>
      <div class="span-9-d multiselect-filter-results">
        <div class="pager_top">
          {% embed '@ul_base_theme/4_regions/section--pager.twig' %}
              {% block pager %}
                  {{ pager }}
              {% endblock %}
          {% endembed %}
        </div>
        <div class="filter_btn active-trail">
          <a href="javascript:void(0);" class="filter-slider-arrow show">Filter</a>
        </div>
        {{ attachment_before }}

        {{ rows }}
        {{ empty }}

        {% if rows %}
          {% embed '@ul_base_theme/4_regions/section--pager.twig' %}
              {% block pager %}
                  {{ pager }}
              {% endblock %}
          {% endembed %}
        {% endif %}

        {{ attachment_after }}
        {{ more }}
      </div>
    </div>
    {% if footer %}
        <footer>
            {{ footer }}
        </footer>
    {% endif %}

    {{ feed_icons }}
</div>
