{% extends "@ul_base_theme/2_pieces/card/card.twig" %}
{% set class = "card--featured" %}
{% set background_image = image %}
{% if link %}
  {% set class = class ~ " is-link" %}
{% endif %}

{% block content %}
  {% if link %}
    <a href="{{ link }}" title="{{- title -}}" aria-label="{{- title -}}">
  {% endif %}

    {% block card_image %}
      {% if image %}
        <img src="{{- image -}}" alt="{{- imageAlt -}}"/>
      {% endif %}
    {% endblock %}
    <div class="tags">
      {% block card_tags %}
        {% include '@ul_base_theme/2_pieces/widget/widget--card-tags.twig' with {widget: tags} %}
      {% endblock %}
    </div>
    <div class="content-container">
      {% block card_topic %}
        {% if topics %}
          {% include '@ul_base_theme/2_pieces/widget/widget--topics.twig' with {widget: topics} %}
        {% endif %}
      {% endblock %}
      {% block card_title %}
        <h3>{{- title -}}</h3>
      {% endblock %}
      {% block card_description %}
        {% if description %}
          <p>{{- description -}}</p>
        {% endif %}
      {% endblock %}
      <div class="bottom-row">
        {% block card_meta %}
          <h4 class="date pull-left">{{- meta -}}</h4>
        {% endblock %}
        {% block card_read_time %}
          {% if readTime %}
            <h4 class="read-time pull-right">{{- readTime -}}</h4>
          {% endif %}
        {% endblock %}
      </div>
    </div>

  {% if link %}
    </a>
  {% endif %}
{% endblock %}
