{% extends "@ul_base_theme/4_regions/hero.twig" %}
{% set class = "hero--events" %}

{% block content %}
  <div class="carousel max-width--xlarge-desktop" data-module="heroCarousel" data-navigation="true">
    <div class="carousel-container">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% block hero_slides %}
            {% for slide in slides %}
              {% include '@ul_base_theme/3_components/hero--events__slide.twig' with {
                slide: slide
              } %}
            {% endfor %}
          {% endblock %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-navigation">
          <div class="swiper-button swiper-button-next">
            <span class="swiper-icon icon-bracket-r"><span class="sr-only">Next</span></span>
          </div>
          <div class="swiper-button swiper-button-prev">
            <span class="swiper-icon icon-bracket-l"><span class="sr-only">Previous</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container">
      {# Navigation cannot be in carousel container. Carousel is overflow hidden and nav sits outside #}
      <div class="swiper-navigation">
        <div class="swiper-button swiper-button-next">
          <span class="swiper-icon icon-bracket-r"><span class="sr-only">Next</span></span>
        </div>
        <div class="swiper-button swiper-button-prev">
          <span class="swiper-icon icon-bracket-l"><span class="sr-only">Previous</span></span>
        </div>
      </div>
      {% block hero_date %}
        {% if date %}
          <div class="date">{{- date|date("D, F j, Y") -}}</div>
        {% endif %}
      {% endblock %}
      {% block hero_location %}
        {% if location %}
          <div class="location">{{- location -}}</div>
        {% endif %}
      {% endblock %}
      {% block hero_title %}
        {% if title %}
          <h1 class="title">{{- title -}}</h1>
        {% endif %}
      {% endblock %}
      {% block hero_description %}
        {% if description %}
          <p class="description">{{- description -}}</p>
        {% endif %}
      {% endblock %}
      {% block hero_register %}
        {% if register %}
          <a class="button button--blue" href="{{- register -}}">Register</a>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
