<section class="section--accordion">
  <a href="#" data-module="accordion" id="toggle-{{- section.id -}}" aria-expanded="false" aria-selected="false" aria-controls="{{- item.id -}}" data-device-target="0"><h3>{{- section.title -}}</h3></a>
  <div id="{{- section.id -}}" class="dropdown" aria-hidden="false" aria-labelledby="toggle-{{- section.id -}}">
    {{ section.description }}
  </div>
</section>
